.recovery-box {
    width: 80%;
    max-width: 450px;
    min-width: 350px;
    align-self: center;
    justify-self: center;
    padding: 0;
}

button {
    width: 100px;
    height: 35px;
    margin: 5px;
}