button {
    width: 100px;
    height: 35px;
    margin: 5px;
}

.register-box {
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    padding: 0;
}