.account-info-box {
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 450px;
    min-width: 300px;
    padding: 0;
}

.edit-account-modal {
    max-width: 700px;
    min-width: 700px;
}

button {
    width: 120px;
    height: 35px;
    margin: 5px;
}