button {
    width: 100px;
    height: 35px;
    margin: 5px;
}

.login-box {
    align-self: center;
    justify-self: center;
    width: 80%;
    max-width: 450px;
    min-width: 250px;
    padding: 0;
}