body {
    background: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

form {
	width: 100%
}

table {
	width: 100%;
	border-spacing: 0;
}

table th, table td {
	white-space: nowrap;
	height: 100%;
}

thead {
	font-weight: 600;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	-o-user-select: none;
	cursor: default;
}

td {
	padding: 0;
}

button {
    border: none;
    background: #D5D5D5;
	color: black;
	cursor: pointer;
}

button > * {
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	-o-user-select: none;
	cursor: pointer;
}

button:hover {
    background: darkgray;
}

input[type=email], input[type=password], input[type=text], textarea {
    width: 100%;
    padding: 3px 5px;
    margin: 5px 0;
    display: block;
    background: #252525;
    color: white;
	border: 1px solid #D5D5D5;
}

textarea {
	resize: none;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: gray;
}

/* Z index level */
.top-lv-1 {
	z-index: 1000;
}

.top-lv-2 {
	z-index: 2000;
}

.top-lv-3 {
	z-index: 3000;
}

.top-lv-4 {
	z-index: 4000;
}

/* Disable text selection on any control */
.disable-selection {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

/* Transparent button */
.transparent-button {
	background: inherit;
	color: white;
}

.transparent-button > * {
	cursor: pointer;
}

.transparent-button:hover {
	background: transparent;
}

/* Overrides bootstrap default */
.row {
	margin: 0 !important;
}

/* Simple wpf like wrap panel */
.wrap-panel * {
	display: inline-block;
}

/* Easily clear margin and padding */
.clear-margin-padding {
	margin: 0;
	padding: 0;
}

/* Simple grid container */
.grid-container {
	display: grid;
	overflow: auto;
	height: inherit;
	width: inherit;
}

/* My own modal dialog */
.popup-container {
    position: fixed;
    width: 0;
	height: 0;
	opacity: 0;
	top: 0;
    background: rgba(0,0,0,0.6);
	display: grid;
	overflow: auto;
}

.popup-content {
    width: 90%;
    max-width: 450px;
    min-width: 300px;
    background: #252525;
	padding: 30px;
    justify-self: center;
	align-self: center;
	transform: scale(0);
	transition: transform .3s;
}

/* No weird bootstrap border */
.no-border {
	border: none !important;
	border-radius: 0 !important;
}

/* Table for items */
.item-container {
	overflow: auto;
	background: #181818;
}

.item-container thead tr td {
	background: #101010;
	position: sticky;
	top: 0;
}

.item-container table tbody tr {
    cursor: pointer;
}

.item-container td {
    padding: 10px;
}

.item-container table tbody tr:hover {
    background: #232323;
}

/* Table sorting */
.sortable {
    padding: 10px;
}

.sortable a {
    display: block;
	width: 100%;
	cursor: pointer;
}

.sort-both {
    padding-right: 18px;
	position: relative;
}

.sort-both:before,
.sort-both:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

.sort-both:before {
	border-bottom-color: #666;
	margin-top: -9px;
}

.sort-both:after {
	border-top-color: #666;
	margin-top: 1px;
}

/* Sidebar */
.sidebar  {
	margin: 0;
	padding: 0;
	width: 48px;
	height: 100%;
	position: fixed;
	left: 0;
	z-index: 1;
	background: #1c1c1c;
	overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: auto;
	white-space: nowrap;
	display: grid;
	grid-template-rows: 1fr 48px; /* Depending on how many items at the bottom */
	-ms-overflow-style: none; /* This hides the scrollbar */
	transition: width .3s ease; /* Simple animation */
}

.sidebar::-webkit-scrollbar {
	width: 0px; /* This hides the scrollbar */
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	grid-row-start: 1;
	grid-row-end: 1;
}

.sidebar ul li a {
	display: block;
	line-height: 48px;
	font-size: 14px;
	background: #1c1c1c;
	text-decoration: none;
	user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}

.sidebar ul li a:hover {
	background: #111;
	color: white;
}

.sidebar ul li .active {
	background: #111;
	color: white;
}

.sidebar .bottom {
	grid-row-start: 2;
	grid-row-end: 2;
}

.separator {
    height: 1px;
    border: 0;
    color: #fff;
    background-color: #333;
    margin: 0;
    padding: 0;
    display: block;
}

.sidebar-item-icon {
    width: 48px;
    display: inline-block;
    text-align: center;
}

.sidebar-item-text {
    padding-left: 0px;
}

/* Sidebar content */
.sidebar-container {
	width: 100%;
	height: 100%;
	padding-left: 48px;
}