button {
    width: 120px;
    height: 35px;
    margin: 5px;
}

.main-grid {
    grid-template-rows: 
        minmax(min-content, max-content) /* The search bar */
        auto /* The main content */
}

.search-bar-container {
    padding: 20px;
}

.search-bar {
    height: 35px;
    max-width: 450px;
}

.search-bar > tbody > tr > td > * {
    margin: 0;
    height: 100%;
    width: 100%;
}

.page-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18pt;
}

.item-modal {
    max-width: 600px;
    min-width: 400px;
}

/* Size of the item container */
.item-container {
    margin: 0px 20px 20px 20px;
}

/* We gonna hide the Description column overflow */
.item-container table tbody tr td:last-child {
    white-space: nowrap;
    max-width: 0;
    min-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    .search-bar-container {
        padding: 5px; /* Smaller screen sizes just need small margin */
    }

    .item-container {
        margin: 0px;
    }

    .page-title {
        margin-bottom: 5px;
        font-size: 12pt;
    }
}